<div id="about-area" class="about-area section animated">
  <div class="container">
    <!-- About Section -->
    <div class="about-section row">
      <!-- About Content -->
      <div class="col-lg-8 col-md-7 col-xs-12">
        <div class="about-content">
          <h4>about me</h4>
          <h2>I'm
            <span>kevin wood,</span>
            <br>A web designer & developer</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority ferteration in some form, by injected
            humour, or randomised words which don't look even s believable. If you are going to use a passage of Lorem Ipsum,
            you need to be sure there isn't anything rrassing hidden in the middle of text.</p>
          <a href="#" class="btn">Download Resume</a>
        </div>
      </div>
      <!-- Skill Wrapper -->
      <div class="col-lg-4 col-md-5 col-xs-12">
        <div class="skill-wrapper">
          <div class="single-skill">
            <h5>DESIGN</h5>
            <div class="progress">
              <div class="progress-bar" style="width: 90%;">
                <span>90%</span>
              </div>
            </div>
          </div>
          <div class="single-skill">
            <h5>HTML & CSS</h5>
            <div class="progress">
              <div class="progress-bar" style="width: 85%;">
                <span>85%</span>
              </div>
            </div>
          </div>
          <div class="single-skill">
            <h5>WORDPRESS</h5>
            <div class="progress">
              <div class="progress-bar" style="width: 90%;">
                <span>90%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>