<div id="about-area" class="about-area section animated">
    <div class="container">
      <!-- About Section -->
      <div class="about-section row">
        <!-- About Content -->
        <div class="col-lg-8 col-md-7 col-xs-12">
          <div class="about-content">
            <h4>about me</h4>
            <h2>I'm
              <span>kevin wood,</span>
              <br>A web designer & developer</h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority ferteration in some form,
              by injected humour, or randomised words which don't look even s believable. If you are going to use a passage
              of Lorem Ipsum, you need to be sure there isn't anything rrassing hidden in the middle of text.</p>
            <a href="#" class="btn">Download Resume</a>
          </div>
        </div>
        <!-- Skill Wrapper -->
        <div class="col-lg-4 col-md-5 col-xs-12">
          <div class="skill-wrapper">
            <div class="single-skill">
              <h5>DESIGN</h5>
              <div class="progress">
                <div class="progress-bar" style="width: 90%;">
                  <span>90%</span>
                </div>
              </div>
            </div>
            <div class="single-skill">
              <h5>HTML & CSS</h5>
              <div class="progress">
                <div class="progress-bar" style="width: 85%;">
                  <span>85%</span>
                </div>
              </div>
            </div>
            <div class="single-skill">
              <h5>WORDPRESS</h5>
              <div class="progress">
                <div class="progress-bar" style="width: 90%;">
                  <span>90%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Service Section -->
      <div class="service-section row">
        <!-- Section Title -->
        <div class="section-title text-center col-xs-12">
          <h2>MY
            <span>SERVICES</span>
          </h2>
        </div>
        <!-- Single Service -->
        <div class="col-lg-3 col-sm-6 col-xs-12 mb-30">
          <div class="single-service text-center">
            <i class="zmdi zmdi-devices"></i>
            <h5>UI/UX DESIGN</h5>
            <span class="border"></span>
            <p>There are many variatio pssages of Lorm available, bu some form, ons pssages </p>
          </div>
        </div>
        <!-- Single Service -->
        <div class="col-lg-3 col-sm-6 col-xs-12 mb-30">
          <div class="single-service text-center">
            <i class="zmdi zmdi-favorite-outline"></i>
            <h5>web design</h5>
            <span class="border"></span>
            <p>There are many variatio pssages of Lorm available, bu some form, ons pssages </p>
          </div>
        </div>
        <!-- Single Service -->
        <div class="col-lg-3 col-sm-6 col-xs-12 mb-30">
          <div class="single-service text-center">
            <i class="zmdi zmdi-filter-center-focus"></i>
            <h5>minimal design</h5>
            <span class="border"></span>
            <p>There are many variatio pssages of Lorm available, bu some form, ons pssages </p>
          </div>
        </div>
        <!-- Single Service -->
        <div class="col-lg-3 col-sm-6 col-xs-12 mb-30">
          <div class="single-service text-center">
            <i class="zmdi zmdi-language-html5"></i>
            <h5>DEVELOPMENT</h5>
            <span class="border"></span>
            <p>There are many variatio ns of pssages of Lorm available, bu some form, ons of pssages </p>
          </div>
        </div>
      </div>
      <!-- Pricing Section -->
      <div class="pricing-section row">
        <!-- Section Title -->
        <div class="section-title text-center col-xs-12">
          <h2>MY
            <span>pricing</span>
          </h2>
        </div>
        <!-- Pricing Wrapper -->
        <div class="pricing-wrapper col-xs-12">
          <!-- Single Pricing -->
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="single-pricing">
              <div class="pricing-head">
                <h3 class=pricing-title>BASIC</h3>
                <h1 class="pricing-price">
                  <span class="currency">$</span>
                  <span class="amount">15</span>
                </h1>
              </div>
              <ul class="pricing-content">
                <li>Web Design</li>
                <li>App Design & Development</li>
                <li>Print Design</li>
                <li>PSD to HTML Tempalte</li>
              </ul>
              <div class="pricing-footer">
                <button>sign up</button>
              </div>
            </div>
          </div>
          <!-- Single Pricing -->
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="single-pricing">
              <div class="pricing-head">
                <h3 class=pricing-title>Premium</h3>
                <h1 class="pricing-price">
                  <span class="currency">$</span>
                  <span class="amount">25</span>
                </h1>
              </div>
              <ul class="pricing-content">
                <li>Web Design</li>
                <li>App Design & Development</li>
                <li>Print Design</li>
                <li>PSD to HTML Tempalte</li>
              </ul>
              <div class="pricing-footer">
                <button>sign up</button>
              </div>
            </div>
          </div>
          <!-- Single Pricing -->
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="single-pricing active">
              <div class="pricing-head">
                <h3 class=pricing-title>Professional</h3>
                <h1 class="pricing-price">
                  <span class="currency">$</span>
                  <span class="amount">35</span>
                </h1>
              </div>
              <ul class="pricing-content">
                <li>Web Design</li>
                <li>App Design & Development</li>
                <li>Print Design</li>
                <li>PSD to HTML Tempalte</li>
              </ul>
              <div class="pricing-footer">
                <button>sign up</button>
              </div>
            </div>
          </div>
          <!-- Single Pricing -->
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="single-pricing">
              <div class="pricing-head">
                <h3 class=pricing-title>Unlimited</h3>
                <h1 class="pricing-price">
                  <span class="currency">$</span>
                  <span class="amount">50</span>
                </h1>
              </div>
              <ul class="pricing-content">
                <li>Web Design</li>
                <li>App Design & Development</li>
                <li>Print Design</li>
                <li>PSD to HTML Tempalte</li>
              </ul>
              <div class="pricing-footer">
                <button>sign up</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>