<div id="contact-area" class="contact-area section animated">
  <div class="container">
    <!-- Contact Section -->
    <div class="contact-section row">
      <!-- Section Title -->
      <div class="section-title text-center col-xs-12">
        <h2>contact
          <span>us</span>
        </h2>
      </div>

      <!-- Contact Info -->
      <div class="contact-info col-md-4 col-xs-12">
        <div>
          <h4>Phone</h4>
          <p>+88 99 58456 548</p>
          <p>+88 99 58456 548</p>
        </div>
        <div>
          <h4>Email</h4>
          <p>sanam@email.com</p>
          <p>www.sanam.com</p>
        </div>
        <div>
          <h4>address</h4>
          <p>House 12,Road 10,Block C
            <br>Sindabot,Denmark24</p>
        </div>
      </div>
      <!-- Contact Form -->
      <div class="contact-form col-md-8 col-xs-12">
        <form id="contactForm" data-toggle="validator">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" id="name" name="name" placeholder="Name" required>
                <p class="help-block with-errors"></p>
              </div>
              <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Email" required>
                <p class="help-block with-errors"></p>
              </div>
              <div class="form-group">
                <input type="text" id="phone" name="phone" placeholder="Phone" required>
                <p class="help-block with-errors"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea id="message" name="message" placeholder="Message" required></textarea>
                <p class="help-block with-errors"></p>
              </div>
              <div class="form-group submit-group">
                <input type="submit" value="submit">
              </div>
            </div>
          </div>
        </form>
        <p class="form-message"></p>
        <!-- Social Media -->
        <div class="social-media">
          <h3>Social
            <span>Media</span>
          </h3>
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fa fa-pinterest"></i>
          </a>
          <a href="#">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>