<div id="portfolio-area" class="portfolio-area section animated">
  <div class="container">
    <!-- Portfolio Section -->
    <div class="portfolio-section row">
      <div class="section-title text-center col-xs-12">
        <h2>my
          <span>portfolio</span>
        </h2>
      </div>
      <div class="portfolio-wrapper">
        <!-- Portfolio Filter -->
        <div class="portfolio-filter text-center">
          <button class="active" data-filter="*">all</button>
          <button data-filter=".web">web</button>
          <button data-filter=".design">design</button>
          <button data-filter=".new">new</button>
          <button data-filter=".print">print</button>
        </div>

        <!-- Portfolio Grid -->
        <div class="portfolio-grid">

          <!-- Portfolio Item -->
          <div class="portfolio-item web new col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="assets/site/img/portfolio/1.jpg" class="image">
              <img src="assets/site/img/portfolio/1.jpg" alt="" />
              <div class="content">
                <h4>BUSINESS CARD</h4>
                <p>Branding</p>
              </div>
            </a>
          </div>

          <!-- Portfolio Item -->
          <div class="portfolio-item design print col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="assets/site/img/portfolio/2.jpg" class="image">
              <img src="assets/site/img/portfolio/2.jpg" alt="" />
              <div class="content">
                <h4>BUSINESS CARD</h4>
                <p>Branding</p>
              </div>
            </a>
          </div>

          <!-- Portfolio Item -->
          <div class="portfolio-item web print col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="assets/site/img/portfolio/3.jpg" class="image">
              <img src="assets/site/img/portfolio/3.jpg" alt="" />
              <div class="content">
                <h4>BUSINESS CARD</h4>
                <p>Branding</p>
              </div>
            </a>
          </div>

          <!-- Portfolio Item -->
          <div class="portfolio-item new design col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="assets/site/img/portfolio/4.jpg" class="image">
              <img src="assets/site/img/portfolio/4.jpg" alt="" />
              <div class="content">
                <h4>BUSINESS CARD</h4>
                <p>Branding</p>
              </div>
            </a>
          </div>

          <!-- Portfolio Item -->
          <div class="portfolio-item design web col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="assets/site/img/portfolio/5.jpg" class="image">
              <img src="assets/site/img/portfolio/5.jpg" alt="" />
              <div class="content">
                <h4>BUSINESS CARD</h4>
                <p>Branding</p>
              </div>
            </a>
          </div>

          <!-- Portfolio Item -->
          <div class="portfolio-item web print col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="assets/site/img/portfolio/6.jpg" class="image">
              <img src="assets/site/img/portfolio/6.jpg" alt="" />
              <div class="content">
                <h4>BUSINESS CARD</h4>
                <p>Branding</p>
              </div>
            </a>
          </div>

          <!-- Portfolio Item -->
          <div class="portfolio-item design new col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="assets/site/img/portfolio/7.jpg" class="image">
              <img src="assets/site/img/portfolio/7.jpg" alt="" />
              <div class="content">
                <h4>BUSINESS CARD</h4>
                <p>Branding</p>
              </div>
            </a>
          </div>

          <!-- Portfolio Item -->
          <div class="portfolio-item print new col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="assets/site/img/portfolio/8.jpg" class="image">
              <img src="assets/site/img/portfolio/8.jpg" alt="" />
              <div class="content">
                <h4>BUSINESS CARD</h4>
                <p>Branding</p>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>