  <!-- Body main wrapper start -->
  <div id="preloader">
        <div class="preloader-center">
          <div class="preloader-center-absolute">
            <div class="object"></div>
          </div>
        </div>
      </div>
    
      <!-- Body main wrapper start -->
      <button class="menu-toggle">
        <i class="mi mi-menu-bar open"></i>
        <i class="zmdi zmdi-close close"></i>
      </button>
      <div class="wrapper fix">
        <!-- Menu Area
    ============================================ -->
        <div id="menu-area" class="menu-area section animated">
          <div class="container">
            <div class="menu-section row">
              <div class="col-xs-12">
                <div class="menu-wrapper">
                  <img src="assets/site/img/menu.png" alt="">
                  <nav class="main-menu">
                    <ul>
                      <li>
                        <a href="#home-area">
                          <i class="mi mi-home"></i>
                          <span>home</span>
                        </a>
                      </li>
                      <li>
                        <a href="#about-area">
                          <i class="mi mi-about"></i>
                          <span>about</span>
                        </a>
                      </li>
                      <li>
                        <a href="#resume-area">
                          <i class="mi mi-resume"></i>
                          <span>resume</span>
                        </a>
                      </li>
                      <li>
                        <a href="#portfolio-area">
                          <i class="mi mi-portfolio"></i>
                          <span>portfolio</span>
                        </a>
                      </li>
                      <li>
                        <a href="#blog-area">
                          <i class="mi mi-blog"></i>
                          <span>blog</span>
                        </a>
                      </li>
                      <li>
                        <a href="#contact-area">
                          <i class="mi mi-contact"></i>
                          <span>contact</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Home Area
    ============================================ -->
       <app-home></app-home>
        <!-- About Area
    ============================================ -->
        <app-about></app-about>
        <!-- Resume Area
    ============================================ -->
        <app-resume></app-resume>
        <!-- Portfolio Area
    ============================================ -->
        <app-portfolio></app-portfolio>
        <!-- Blog Area
    ============================================ -->
       <app-blog></app-blog>
        <!-- Contact Area
    ============================================ -->
       <app-contact></app-contact>
    
      </div>