<div id="resume-area" class="resume-area section animated">
  <div class="container">
    <!-- Education Section -->
    <div class="education-section row">
      <!-- Section Title -->
      <div class="section-title text-center col-xs-12">
        <h2>my
          <span>education</span>
        </h2>
      </div>

      <div class="col-xs-12">
        <!-- Resume Timeline -->
        <div class="resume-timeline">
          <!-- Single Timeline -->
          <div class="single-timeline right">
            <i class="circle"></i>
            <div class="wrap">
              <h4>Bachelor Computer Engineering</h4>
              <span>2004 - 2006</span>
              <p>There are many variations of passages of Lorem Ipsum avlable, but the majority have suffered in</p>
            </div>
          </div>
          <!-- Single Timeline -->
          <div class="single-timeline right">
            <i class="circle"></i>
            <div class="wrap">
              <h4>Computer Engineering</h4>
              <span>2006 - 2007</span>
              <p>There are many variations of passages of Lorem Ipsum avlable, but the majority have suffered in</p>
            </div>
          </div>
          <!-- Single Timeline -->
          <div class="single-timeline right">
            <i class="circle"></i>
            <div class="wrap">
              <h4>Computer Engineering</h4>
              <span>2006 - 2007</span>
              <p>There are many variations of passages of Lorem Ipsum avlable, but the majority have suffered in</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="experience-section row">
      <!-- Section Title -->
      <div class="section-title text-center col-xs-12">
        <h2>my
          <span>experience</span>
        </h2>
      </div>

      <div class="col-xs-12">
        <!-- Resume Timeline -->
        <div class="resume-timeline">
          <!-- Single Timeline -->
          <div class="single-timeline left">
            <i class="circle"></i>
            <div class="wrap">
              <h4>Computer Engineering</h4>
              <span>2006 - 2007</span>
              <p>There are many variations of passages of Lorem Ipsum avlable, but the majority have suffered in</p>
            </div>
          </div>
          <!-- Single Timeline -->
          <div class="single-timeline left">
            <i class="circle"></i>
            <div class="wrap">
              <h4>Computer Engineering</h4>
              <span>2006 - 2007</span>
              <p>There are many variations of passages of Lorem Ipsum avlable, but the majority have suffered in</p>
            </div>
          </div>
          <!-- Single Timeline -->
          <div class="single-timeline left">
            <i class="circle"></i>
            <div class="wrap">
              <h4>Computer Engineering</h4>
              <span>2006 - 2007</span>
              <p>There are many variations of passages of Lorem Ipsum avlable, but the majority have suffered in</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>