<div id="blog-area" class="blog-area section animated">
  <div class="container">
    <!-- Blog Section -->
    <div class="blog-section row">
      <!-- Section Title -->
      <div class="section-title text-center col-xs-12">
        <h2>my
          <span>blog</span>
        </h2>
      </div>
      <!-- Blog Wrapper -->
      <div class="blog-wrapper clear-fix">
        <!-- Single Blog -->
        <div class="col-lg-4 col-sm-6 col-xs-12 mb-30">
          <div class="blog-post">
            <div class="post-image">
              <img src="assets/site/img/blog/1.jpg" alt="">
            </div>
            <div class="content fix">
              <h4 class="post-title">
                <a href="blog-details.html">Totam Rem Aperiam</a>
              </h4>
              <ul class="post-info">
                <li>
                  <a href="#">Jun 13, 2017</a>
                </li>
              </ul>
              <p>I will give you a complete ofe system, and expound ttual teachin3.gs of the truth, the master-happiness.</p>
              <a href="blog-details.html" class="read-more">Read More</a>
              <ul class="post-info float-right">
                <li>
                  <a href="#">
                    <i class="zmdi zmdi-favorite-outline"></i>4</a>
                </li>
                <li>
                  <a href="#">
                    <i class="zmdi zmdi-comment-outline"></i>7</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Blog -->
        <div class="col-lg-4 col-sm-6 col-xs-12 mb-30">
          <div class="blog-post">
            <div class="post-image">
              <img src="assets/site/img/blog/2.jpg" alt="">
            </div>
            <div class="content fix">
              <h4 class="post-title">
                <a href="blog-details.html">How all this mistaken idea</a>
              </h4>
              <ul class="post-info">
                <li>
                  <a href="#">Jun 13, 2017</a>
                </li>
              </ul>
              <p>I will give you a complete ofe system, and expound ttual teachin3.gs of the truth, the master-happiness.</p>
              <a href="blog-details.html" class="read-more">Read More</a>
              <ul class="post-info float-right">
                <li>
                  <a href="#">
                    <i class="zmdi zmdi-favorite-outline"></i>4</a>
                </li>
                <li>
                  <a href="#">
                    <i class="zmdi zmdi-comment-outline"></i>7</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Blog -->
        <div class="col-lg-4 col-sm-6 col-xs-12 mb-30">
          <div class="blog-post">
            <div class="post-image">
              <img src="assets/site/img/blog/3.jpg" alt="">
            </div>
            <div class="content fix">
              <h4 class="post-title">
                <a href="blog-details.html">Finibus Bonorum et Malor</a>
              </h4>
              <ul class="post-info">
                <li>
                  <a href="#">Jun 13, 2017</a>
                </li>
              </ul>
              <p>I will give you a complete ofe system, and expound ttual teachin3.gs of the truth, the master-happiness.</p>
              <a href="blog-details.html" class="read-more">Read More</a>
              <ul class="post-info float-right">
                <li>
                  <a href="#">
                    <i class="zmdi zmdi-favorite-outline"></i>4</a>
                </li>
                <li>
                  <a href="#">
                    <i class="zmdi zmdi-comment-outline"></i>7</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Blog -->
        <div class="col-lg-4 col-sm-6 col-xs-12 mb-30">
          <div class="blog-post">
            <div class="post-image">
              <img src="assets/site/img/blog/4.jpg" alt="">
            </div>
            <div class="content fix">
              <h4 class="post-title">
                <a href="blog-details.html">How all this mistaken idea</a>
              </h4>
              <ul class="post-info">
                <li>
                  <a href="#">Jun 13, 2017</a>
                </li>
              </ul>
              <p>I will give you a complete ofe system, and expound ttual teachin3.gs of the truth, the master-happiness.</p>
              <a href="blog-details.html" class="read-more">Read More</a>
              <ul class="post-info float-right">
                <li>
                  <a href="#">
                    <i class="zmdi zmdi-favorite-outline"></i>4</a>
                </li>
                <li>
                  <a href="#">
                    <i class="zmdi zmdi-comment-outline"></i>7</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Blog -->
        <div class="col-lg-4 col-sm-6 col-xs-12 mb-30">
          <div class="blog-post">
            <div class="post-image">
              <img src="assets/site/img/blog/5.jpg" alt="">
            </div>
            <div class="content fix">
              <h4 class="post-title">
                <a href="blog-details.html">Finibus Bonorum et Malor</a>
              </h4>
              <ul class="post-info">
                <li>
                  <a href="#">Jun 13, 2017</a>
                </li>
              </ul>
              <p>I will give you a complete ofe system, and expound ttual teachin3.gs of the truth, the master-happiness.</p>
              <a href="blog-details.html" class="read-more">Read More</a>
              <ul class="post-info float-right">
                <li>
                  <a href="#">
                    <i class="zmdi zmdi-favorite-outline"></i>4</a>
                </li>
                <li>
                  <a href="#">
                    <i class="zmdi zmdi-comment-outline"></i>7</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Blog -->
        <div class="col-lg-4 col-sm-6 col-xs-12 mb-30">
          <div class="blog-post">
            <div class="post-image">
              <img src="assets/site/img/blog/2.jpg" alt="">
            </div>
            <div class="content fix">
              <h4 class="post-title">
                <a href="blog-details.html">Totam Rem Aperiam</a>
              </h4>
              <ul class="post-info">
                <li>
                  <a href="#">Jun 13, 2017</a>
                </li>
              </ul>
              <p>I will give you a complete ofe system, and expound ttual teachin3.gs of the truth, the master-happiness.</p>
              <a href="blog-details.html" class="read-more">Read More</a>
              <ul class="post-info float-right">
                <li>
                  <a href="#">
                    <i class="zmdi zmdi-favorite-outline"></i>4</a>
                </li>
                <li>
                  <a href="#">
                    <i class="zmdi zmdi-comment-outline"></i>7</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>