<div id="home-area" class="home-area section animated active">
    <div class="container">
      <div class="home-section row pt-0 pb-0 mb-0">
        <!-- Home Image -->
        <div class="home-image col-md-6 col-xs-12">
          <img src="assets/site/img/home.jpg" alt="">
        </div>
        <!-- Home Content -->
        <div class="home-content col-md-6 col-xs-12">
          <h4>Hello!</h4>
          <h1>I Am Kevin Wood</h1>
          <h5>ui and print designer</h5>
          <p>There are many variations of passages of Lorem Ipsum available, bt the majority have suffered alteration in some
            form, bt the majority have suffered alteration in some form.</p>
          <a href="#">Hire Me</a>
        </div>
      </div>
    </div>
  </div>